################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Webgentle.Bookstore/.vs/Webgentle.Bookstore
/Webgentle.Bookstore/Webgentle.Bookstore/bin/Debug/netcoreapp3.1
/Webgentle.Bookstore/Webgentle.Bookstore/obj
